.sobre .conteudo{display: flex; justify-content: space-between; padding: 50px 0 0;}
.sobre .conteudo .imagens{}
.sobre .conteudo .imagens .imagem-container{background: var(--amarelo-1); width: 500px; height: 300px;}