@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #686868;
  --azul-1: #27548A;
  --azul-2: #183B4E;
  --amarelo-1: #DDA853;
  --bege-1: #F5EEDC;

}


/*pré definindo algumas classes*/
.conteudo-1140{width: 1140px; margin: 0 auto; max-width: 90%;}

.imagem{width: 100%; height: 100%; object-fit: contain;}

.texto{font-family: "Nunito", sans-serif;}
.texto.t1{font: 500 16px/1em "Nunito", sans-serif ;}
.sub-titulo{}
.sub-titulo.t1{font: 700 24px/1em "Nunito", sans-serif;}
.titulo{font-family: "Nunito", sans-serif;}
.titulo.t1{font: 800 32px/1em "Nunito", sans-serif;}
.titulo.h1{ font-size: 16px;}
.botao{font: 800 14px/1em "Nunito", sans-serif;}