@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto*/

*{
  --branco: #ffffff;
  --preto: #000000;
  --azul-1: #27548A;
  --azul-2: #183B4E;
  --amarelo-1: #DDA853;
  --bege-1: #F5EEDC;

}


/*pré definindo algumas classes*/
.conteudo-1140{width: 1140px; margin: 0 auto; max-width: 90%;}

.texto{font-family: "Roboto", sans-serif;}
.texto.t1{font: 400 16px/1em "Roboto", sans-serif ;}
.sub-titulo{}
.titulo{}
